* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #333;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selector {
    padding: 1rem;
    color: #555;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

.selector::after {
    content: 'pasa por encima';
}

.selector:hover {
    color: #fff;
    background-color: #006600;
}

.selector:hover::after {
    content: 'hecho';
}